/* CSS Selector */
/* CSS Selector merupakan cara agar CSS dapat mengenali sebuah elemen HTML yang akan di beri style */

/* CSS Selector dapat berupa tag, class, id, atau atribut */
/* CSS Selector dapat juga berupa kombinasi dari tag, class, id, atau atribut */
/* CSS Selector dapat juga berupa pseudo-class atau pseudo-element */
/* CSS Selector dapat juga berupa kombinasi dari pseudo-class atau pseudo-element */
/* CSS Selector dapat juga berupa kombinasi dari tag, class, id, atribut, pseudo-class, atau pseudo-element */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h3 {
    text-transform: uppercase;
}

ul {
    padding: 20px;
    color: aqua;
    border: 2px solid #000;
}

ul:hover {
    text-decoration: none;
    color: wheat;
    border: none;
}
p {
    font-size: 16px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.data2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;
}

.data3 {
    font-family: 'Courier New', Courier, monospace;
    color: #000;
}

.data4 {
    font-family: 'Lucida Console', Monaco, monospace;
    color: royalblue;
}

.data5 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #f00;
}

.isi {
    font-family: 'Times New Roman', Times, serif;
    color: goldenrod;
}

.isi2 {
    text-transform: capitalize;
    font-family:calibri, sans-serif;
    color: darkgreen;
}

.isi2:hover {
    color:darkcyan;
    text-decoration: underline;
}