/* Universal Selector */
/* Selector yang akan mengaplikasikan CSS pada seluruh komponen menggunakan tanda bintang(*) */
* { font-family: Arial, sans-serif; }

/* Type Selector */
/* Selector yang hanya akan mengaplikasikan CSS pada bagian tertentu */
h1 { color: blue; font-size: 100px; }

/* Class Selector */
/* Selector ini hanya akan mempengaruhi class tertentu */
h3.hari { color: cyan; font-size: 20px; }

/* ID Selector */
/* Selector ini hanya akan mempengaruhi ID tertentu */
#utama {color: salmon;}

/* Child Selector */
/* Selector ini hanya akan mempengaruhi child dari parent tertentu */
p>b { color: royalblue;}
li>b { color: red;}

/* Descendant Selector */
/* Selector ini hanya akan mempengaruhi descendant dari parent tertentu */
p b { position: relative; top: 10px; left: 10px; color: green;}

/* Adjacent Sibling Selector */
/* Selector ini hanya akan mempengaruhi salah satu tag yang berada setelah tag tertentu*/
p+h3 { color: orange;}

/* General Sibling Selector */
/* Selector ini hanya akan mempengaruhi tag yang berada setelah tag tertentu */
p~h3 { font-size: 30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}