/* Text Styling */
/* 
color 
Berfungsi untuk mengatur warna teks, latar belakang, dan border elemen.
*/ 

/* 
text-align
Berfungsi untuk mengatur perataan teks dalam elemen.
*/

/* 
text-decoration
Berfungsi untuk mengatur dekorasi teks, seperti garis bawah, garis atas, atau garis tengah.
*/

/* 
text-indent
Berfungsi untuk mengatur indentasi teks pada baris pertama elemen.
*/

/*
text-transform
Berfungsi untuk mengubah huruf teks, seperti mengubah menjadi huruf kapital, huruf kecil, atau kapitalisasi awal.
*/

/* 
letter-spacing
Berfungsi untuk mengatur jarak antar huruf dalam teks.
*/

/* 
word-spacing
Berfungsi untuk mengatur jarak antar kata dalam teks.
*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    font-variant: normal;
}

h1 {
    color: aqua;
    text-emphasis: none;
    text-align: center;
    text-decoration: underline;
    text-indent: 20px;
    text-transform: capitalize;
    word-spacing: 5px;
    letter-spacing: 2px;
}

h1 + p{
    color: rosybrown;
    text-align: center;
    text-indent: 200px;
    text-transform: uppercase;
}

.text2 {
    color: red;
    text-align: left;
}

p > u {
    text-transform: capitalize;
}

p > em {
    text-decoration: line-through;
    color: green;
    text-transform: capitalize;
}

.tombol {
    color: white;
    background-color: royalblue;
    border: 1.5px solid black;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}


